table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

td, th {
    text-align: left;
    padding: 0 1vh 0 1vh;
}

.name-bank {
    color: #928B8B;
    font-size: 0.9rem;
}

.name-card {
    font-size: 1.2rem;
}

.sum {
    font-size: 1.1rem;
    text-align: center;
}

.title-table-operation {
    font-size: 1.2rem;
    text-align: center;
    /*padding: 0 3vh 0 0;*/
}

.line-date {
    background-color: #fff;
    height: 1px;
}

.delete-link {
    display: none;
    text-decoration: none;
    padding: 0.7vh 3vh;
    height: 100%;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 0 0 0 1vh;
    font-size: 0.675rem;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
    background-color: #DC143C;
}

.delete-link:hover {
    opacity: 0.9;
}

.date-header {
    font-size: 1rem;
    color: #1E90FFFF;
}

.operation:hover {
    /*box-shadow: inset 0 0 3px #FFFFFF;*/
    border-radius: 5px;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#filter-form {
    display: flex;
    /*margin-bottom: 3vh;*/
    align-items: center;
    /*justify-content: space-between;*/
}

.mb-3 {
    margin: 0 4vh 0 0 !important;
}

.reset-btn {
    background-color: #3748d4;
    color: white;
    border: none;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.reset-btn:hover {
    opacity: 0.8;
    transform: translateY(-1px);
}

.empty-text-class {
    font-size: 1.2rem;
    text-align: center;
}

.row {
    flex-wrap: wrap-reverse;
}

body .page-item:first-child .page-link {
    border-radius: 5px !important;
}

body .page-item:last-child .page-link {
    border-radius: 5px !important;
}

.custom-pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 2em;
    justify-content: center;
}

.page-link {
    display: block;
    padding: 7px 15px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #C0C0C0;
    transition: background-color 0.3s ease;
}

.page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0.5em; */
    width: 4em;
}

.page-item.active .page-link,
.page-item:hover .page-link {
    background-color: #FFFFFF;
    color: #007bff;
    font-weight: bold;
}

.page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

.page-item.prev img,
.page-item.next img {
    vertical-align: middle;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

/* Стиль для многоточия */
.page-item .page-link.dots {
    background-color: transparent;
    cursor: default;
    pointer-events: none;
}

.all-operations {
    display: flex;
    flex-direction: column;
    background: rgb(39 41 63 / 92%);
    color: #FFFFFF;
    border-radius: 30px;
    padding: 5vh 30vh 5vh 30vh;
}

.custom-dropdown {
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
    appearance: none;
    background-color: rgba(39, 41, 63, 0.92) !important;
    color: white;
    background: url('../../img/dropdown.png') no-repeat right 16px center;
    background-size: 16px 16px;
}

.custom-dropdown::-ms-expand {
    display: none;
}

.form-control {
    color: #ffffff;
    background-color: rgba(39, 41, 63, 0.92);
}

.form-control:focus {
    color: #ffffff;
    background-color: rgba(39, 41, 63, 0.92);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #007bff;
    border-radius: 5px;
}

