.add-card-href {
    display: flex;
    justify-self: right;
    padding: 10px;
    margin: 0 0 5vh 0;
    text-decoration: none;
    background-color: #4C51BF;
    color: white;
    width: 35vh;
    border-radius: 10px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, box-shadow 0.3s;
    font-weight: bold;
    /* text-align: center; */
    justify-content: center;
}

.add-card-href:hover {
    opacity: 0.8;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.25);
}

.product-info {
    display: block;
    margin: 0 0 5vh 0;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 1vh;
}

.card-note {
    font-size: 1.3vh;
}


.a-note {
    color: #4C51BF;
    text-decoration: none;
}

.add-operation {
    text-decoration: none;
    padding: 0.7vh 3vh;
    height: 100%;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 0 0 0 1vh;
    font-size: 0.675rem;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
}

.add-operation {
    background-color: #666666;
}

.add-operation:hover {
    opacity: 0.9;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: row-reverse;
}