.body {
    background-color: #2D3748;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-radius: 10px;
}

.login-container {
    text-align: center;
    color: #fff;
}

.brand-logo {
    margin-bottom: 30px;
    /* background: url('') no-repeat center center; */
     background-size: contain;
     width: 100px;
     height: 100px;
}

.login-form form {
    max-width: 300px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    margin: 15px 0;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3385ff;
    border-radius: 5px;
    background: transparent;
    color: white;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #22cc77;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    opacity: 0.8;
}

.login-help {
    margin-top: 20px;
}

.login-help a {
    color: #ccc;
    text-decoration: none;
}

.login-help a:hover {
    text-decoration: underline;
}

