.site-product {
    background-color: rgb(39 41 63 / 92%);
    /*opacity: 0.85;*/
    font-family: 'system-ui', sans-serif;
    /*margin: 0;*/
    color: white;
    display: block;
    /*height: 100%;*/
    border-radius: 30px;
    padding: 1.5vh 30vh 1.5vh 30vh; /* 5vh 30vh 5vh 30vh; */
    /*width: 100%;*/
    margin: 1em 0.5em 1em 0.5em;
}

.tooltip-custom {
    position: relative;
    display: inline-block;
}

.tooltip-custom .tooltiptext-custom {
    visibility: hidden;
    backdrop-filter: blur(3px);
    width: 21em;
    background-color: #2d282891;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 8px 6px;
    position: absolute;
    bottom: 100%;
    left: 3em;
    /* margin-left: -100px; */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-custom:hover .tooltiptext-custom {
    visibility: visible;
    opacity: 1;
}

.btn-success {
    --bs-btn-bg: rgba(80, 85, 320, 0.92);
    --bs-btn-border-color: rgba(80, 85, 320, 0.92);
    --bs-btn-hover-bg: rgba(80, 85, 200, 0.92);
    --bs-btn-hover-border-color: rgba(80, 85, 200, 0.92);
    --bs-btn-active-bg: rgba(80, 85, 320, 0.92);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-success:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.25);
}

.form-group {
    margin-bottom: 1rem;
    display: grid;
    width: 100%;
    justify-items: center;
    justify-content: space-around;
}

.btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.5rem;
}

.btn-filter {
    --bs-btn-padding-y: 0.5rem;
}

#add-card-form {

}

.message-annual-service {
    margin: -2vh 0 2vh 0;
    font-size: 0.8rem;
    color: #ff0000;
}

