.site-product {
    background-color: #2D3748;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    color: white;
    display: block;
    height: 100%;
    border-radius: 10px;
    padding: 5vh 30vh 5vh 30vh;
    width: 100%;
}

.tooltip-custom {
    position: relative;
    display: inline-block;
}

.tooltip-custom .tooltiptext-custom {
    visibility: hidden;
    backdrop-filter: blur(3px);
    width: 45vh;
    background-color: #2d282891;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 8px 18px;
    position: absolute;
    bottom: 100%;
    left: 15vh;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-custom:hover .tooltiptext-custom {
    visibility: visible;
    opacity: 1;
}

.btn-success {
    --bs-btn-bg: #4C51BF;
    --bs-btn-border-color: #4C51BF;
    --bs-btn-hover-bg: #5C63BF;
    --bs-btn-hover-border-color: #5C63BF;
    --bs-btn-active-bg: #5C63BF;
}

.form-group {
    margin-bottom: 1rem;
    display: grid;
    width: 100%;
    justify-items: center;
    justify-content: space-around;
}

.btn {
    --bs-btn-padding-x: 100%;
    --bs-btn-padding-y: 0.5rem;
}

#add-card-form {

}

.message-annual-service {
    margin: -2vh 0 2vh 0;
    font-size: 0.8rem;
    color: #ff0000;
}