.body {
    background-color: #2D3748;
    opacity: 0.85;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    border-radius: 10px;
    flex-direction: row;
}

.img-logo {
    background: url("../../img/img_qHmjH7HacfBDlJ5DrfKr-fotor-bg-remover-20240218181020.png") no-repeat center / contain;
    width: 5vh;
    height: 5vh;
    margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.line {
    width: 1px;
    height: 65vh;
    background-color: #FFFFFF;
    margin: 0;
}

.login-container {
    text-align: center;
    color: #fff;
    margin: 10vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45%;
    height: 100%;
    font-size: 4vh !important;
}

.brand-logo .tn-atom {
    background: linear-gradient(175deg, #44FFFD, #22E0E5, #9A4DFF, #9933FF, #ff00ff);
    /* background: linear-gradient(175deg, #89D1C9, #63B6B7, #897CB6, #8679B7, #e933ff); */
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.login-form form {
    max-width: 300px;
    margin: 0 2vh -13vh 0;
}

.form-group {
    margin-bottom: 1.5rem !important;
    position: relative;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3385ff;
    border-radius: 5px;
    background: transparent;
    color: #FFFFFF;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #3748d4;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    opacity: 0.8;
}

.login-help {
    margin-top: 20px;
}

.login-help a {
    color: #ccc;
    text-decoration: none;
}

.login-help a:hover {
    text-decoration: underline;
}

.reg-title {
    position: absolute;
    top: 21%;
    left: 55%;
}

body .bg-light {
    background-color: #2D3748  !important;
}

.transition {
    font-size: 1em;
    margin-top: 3vh;
    border: 1px solid white;
    padding: 1vh;
    border-radius: 10px;
    text-align: center;
}

.custom-control {
    margin: 0 0 15px 0;
}