.body {
    background-color: #2D3748;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    border-radius: 10px;
    flex-direction: row;
}

.img-logo {
    background: url("../../img/img_qHmjH7HacfBDlJ5DrfKr-fotor-bg-remover-20240218181020.png") no-repeat center / contain;
    width: 5vh;
    height: 5vh;
    margin: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.line {
    width: 1px;
    height: 60vh;
    background-color: #FFFFFF;
    margin: 0 -72px;
}

.login-container {
    text-align: center;
    color: #fff;
    margin: 10vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brand-logo {
    color: #4C51BF;
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

.login-form form {
    max-width: 300px;
    margin: auto;
}

.form-group {
    margin-bottom: 1.5rem !important;
    position: relative;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3385ff;
    border-radius: 5px;
    background: transparent;
    color: #FFFFFF;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4C51BF;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    opacity: 0.8;
}

.login-help {
    margin-top: 20px;
}

.login-help a {
    color: #ccc;
    text-decoration: none;
}

.login-help a:hover {
    text-decoration: underline;
}

.reg-title {
    position: absolute;
    top: 21%;
    left: 53%;
}
